/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of CSS reset */

/* Vars */

:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

/* End of Vars */

html {
  font-size: 14px;
}

body {
  background-color: var(--cream);
  width: 100%;
  min-height: 100%;
}

main {
  height: 100%;
  width: 100%;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "image-block image-block"
    "text-block text-block";
  width: 90%;
  height: auto;
  margin: 7.5% auto;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.image-block {
  grid-area: image-block;
  display: inline-block;
}

.image-block img {
  display: inline-block;
  max-width: 100%;
}

.text-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 1fr 1.5fr repeat(2, 1fr);
  gap: 0px 0px;
  grid-template-areas:
    "pre-product pre-product"
    "product-name product-name"
    "product-description product-description"
    "final-price initial-price"
    "cta-atcart cta-atcart";
  grid-area: text-block;
  width: 85%;
  height: 90%;
  margin: auto;
  align-items: center;
  justify-content: flex-start;
}

.pre-product {
  grid-area: pre-product;
  font-family: Montserrat, Verdana, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--dark-grayish-blue);
}

.product-name {
  grid-area: product-name;
  font-family: Fraunces, Montserrat, Verdana, sans-serif;
  font-weight: 700;
  font-size: 2em;
  color: var(--very-dark-blue);
  margin-top: 5px;
}

.product-description {
  grid-area: product-description;
  color: var(--dark-grayish-blue);
  font-family: Montserrat, Verdana, sans-serif;
}

.final-price {
  grid-area: final-price;
  color: var(--dark-cyan);
  font-family: Fraunces, Montserrat, Verdana, sans-serif;
  font-weight: 700;
  font-size: 2.2em;
}

.initial-price {
  grid-area: initial-price;
  display: inline-block;
  font-family: Montserrat, Verdana, sans-serif;
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
  padding-left: 15%;
}

.cta-atcart {
  grid-area: cta-atcart;
  display: flex;
  width: 100%;
  border-radius: 10px;
  background-color: var(--dark-cyan);
  align-items: center;
  justify-content: center;
  font-size: 1em;
  color: white;
  font-family: Montserrat, Verdana, sans-serif;
  font-weight: 500;
  padding: 20px 0px;
}

.cta-atcart:hover,
.cta-atcart:focus {
  background-color: #2b5d4b;
}

.atc-cart {
  display: inline-block;
  width: 16px;
  justify-self: center;
  align-self: center;
  margin-right: 10px;
}

@media (max-width: 320px) {
  body {
    font-size: 10px;
  }
}

@media (max-width: 230px) {
  .product-name {
    font-size: 1.5em;
  }
  .final-price {
    font-size: 1.8em;
  }
}

@media (min-width: 480px) {
  body {
    height: 100vh;
    width: 100vw;
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px 0px;
    grid-template-areas:
      "image-block text-block"
      "image-block text-block";
    width: 550px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
  }

  .image-block img {
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
  }

  .text-block {
    grid-template-rows: 0.5fr 1fr 1fr 0.5fr 0.8fr;
    height: 95%;
  }

  .product-name {
    margin: 0;
  }

  .cta-atcart {
    padding: 15px 0px;
  }
}
